html body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
    background-color: #FFF9EE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#banner{
    height: 250px;
    display: inline;
    padding-top: 20px;
    padding-left: 20px;
}

#banner img{
    float: left;
    width: 150px;
    height: auto;
    padding-left: 10px;
}

#banner h1{
    position: relative;
    color: #ED8D62;
    font-weight: bold;
    padding-top: 10px;
}

#logoandname{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.navbar{
    width: 100%;
    position: sticky;
    top: 0;
    margin: 0;
    z-index: 1000;
    text-align: center;
    border-bottom: 4px solid #F2D6A5;
    background-color: #FFF9EE;
    height: 50px;
}

.navbar ul{
    list-style-type: none;
    justify-content: space-around;
    display: flex;
}

.navbar ul li{
    display: inline;
    margin: 0 15px;
    font-size: 30px;
}

.navbar ul li a{
    color: #EFA665;
    text-decoration: none;
    text-align: center;
}

.navbar ul li a:hover{
    text-decoration: underline;
}

.navbar ul li a:visited{
    text-decoration: underline;
}

.navbar ul li a:active{
    color: #ED8D62;
    text-decoration: underline;
}

.adoptcontent img{
    width: 200px;
    height: auto;
}

.adoptcontent table{
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

.adoptcontent th, td{
    border: 3px solid #ED8D62;
    padding: 10px;
    text-align: center;
}

th{
    color: #ED8D62;
    font-size: 20px;
}

td{
    color: #EFA665;
    font-size: 15px;
}

.content table{
    border-collapse: collapse;
    border: none;
    width: 100%;
}

.content img{
    width: 400px;
    height: auto;
    padding-left: 200px;
}

.content th{
    border: none;
    padding-right: 200px;
}

.content td{
    max-width: 350px;
    text-align: left;
    vertical-align: top;
    word-wrap: break-word;
    border: none;
    padding-right: 150px;
}

.content{
    display: inline;
}

#volunteer p{
    color: #EFA665;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

#volunteer ol{
    list-style-position: inside;
    margin: 0 auto;
    text-align: left;
    max-width: 600px;
}

#volunteer ol li{
    text-align: left;
    margin: 10px 0;
    color: #EFA665;
}

#volunteer img{
    display: block;
    margin: 0 auto;
    width: 700px;
    height: auto;
}

#contact ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    max-width: 600px;
    padding: 0;
    margin: 0 auto;
}

#contact ul li{
    list-style-type: none;
    margin: 10px 0;
    color: #EFA665;
}

h2, h3{
    color: #ED8D62;
    text-align: center;
}

h4{
    color: #EFA665;
    text-align: center;
}

#about{
    border-bottom: 4px solid #F2D6A5;
}

#adopt{
    border-bottom: 4px solid #F2D6A5;
}

#volunteer{
    border-bottom: 4px solid #F2D6A5;
}
