body{
    width: 100%;
    height: 100%;
    background-color: #FFF9EE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#banner{
    height: 250px;
    diaply: flex;
    align-items: center;
}

#banner img{
    align-slef: left;
    width: 150px;
    height: auto;
    padding-left: 20px;
    padding-top: 20px;
}

#banner h1{
    color: #ED8D62;
}
